.example {
	background: #e5ebed;
}

.example__button {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.example__button button {
	margin-bottom: 15px;
}

.example__button button:last-child {
	margin: 0;
}

.wrapper {
	min-height: 100vh;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paper {
	padding: 50px;
	width: 400px;
	background: #ffffff;
	border-radius: 16px;
	box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
	rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}