.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  z-index: 50;
  line-height: 25px;
  background: #cccccc85;
  backdrop-filter: blur(5px);

  & {
    display: flex;
    justify-content: center;

    a {
      color: #6f6c6c;
      text-decoration: none;
      padding: 0 10px;
    }
  }
}