.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(145, 174, 208, .8);
  z-index: 1000;
  backdrop-filter: blur(5px);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: .8s;

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    transition: .8s;
    opacity: 0;
    transform: translate(0, -100%);
    border-radius: 19px;
    box-shadow: rgba(50, 50, 93, .25) 0 30px 60px -12px, rgba(0, 0, 0, .3) 0px 18px 36px -18px;
    overflow: hidden;
  }

  &__text {
    padding: 15px;

    input {
      margin-bottom: 15px;
    }
  }

  &__title {
    color: #4675ff;
    text-align: center;
    font-size: 18px;
    margin-bottom: 1.1em;
    background: #e9f3ff;
    padding: 15px;
    border-bottom: 1px solid #c5d4e8;
    font-weight: 600;
  }

  &__textarea {
    margin-bottom: 15px;
    color: #737373;
  }

  &__textarea-title {
    color: #808080;
    font-size: .8rem;
    margin-bottom: 10px;
  }

  &__textarea-area {
    padding: 5px;
    border-radius: 6px;
    border-color: #ccc;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;

    //margin-top: 20px;

    button {
      width: 100%;
      margin-right: 20px;

      &:last-child {
        margin: 0;
      }
    }
  }

}

.open.popup .popup__content {
  transform: translate(0, 0);
  opacity: 1;
}

.open.popup {
  opacity: 1;
  visibility: visible;
}
