@import "./vars";

// %
@function prc($maxPx, $minPx) {
  $result: calc(#{$minPx}px + (#{$maxPx} - #{$minPx}) * ((100vw - 320px)) / (#{$appContainerWidth} - 320));
  @return $result;
}

// Rem
@function rem($px) {
  $remValue: ($px / $appFontSize) + rem;
  @return $remValue;
}

// EM
@function em($px) {
  $emValue: ($px / $appFontSize) + em;
  @return $emValue;
}